In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("../data/insurance.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../data/insurance.csv'

In [ ]:
data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [ ]:
X=data.drop(labels=["expenses"],axis=1)

In [ ]:
y=data[["expenses"]]

In [ ]:
X

      age     sex   bmi  children smoker     region
0      19  female  27.9         0    yes  southwest
1      18    male  33.8         1     no  southeast
2      28    male  33.0         3     no  southeast
3      33    male  22.7         0     no  northwest
4      32    male  28.9         0     no  northwest
...   ...     ...   ...       ...    ...        ...
1333   50    male  31.0         3     no  northwest
1334   18  female  31.9         0     no  northeast
1335   18  female  36.9         0     no  southeast
1336   21  female  25.8         0     no  southwest
1337   61  female  29.1         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
y

      expenses
0     16884.92
1      1725.55
2      4449.46
3     21984.47
4      3866.86
...        ...
1333  10600.55
1334   2205.98
1335   1629.83
1336   2007.95
1337  29141.36

[1338 rows x 1 columns]

In [ ]:
categorical_cols=X.select_dtypes(include='object').columns

In [ ]:
categorical_cols

Index(['sex', 'smoker', 'region'], dtype='object')

In [ ]:
numirical_cols=X.select_dtypes(exclude='object').columns

In [ ]:
numirical_cols

Index(['age', 'bmi', 'children'], dtype='object')

In [ ]:
X.select_dtypes(include='object')

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [ ]:
sex_map={"male":1,"female":0}
smoker_map={"yes":1,"no":0}
region_map={"southeast":1,"southwest":2,"northwest":3,"northeast":4}

In [ ]:
data["sex"]=data["sex"].map(sex_map)
data["smoker"]=data["smoker"].map(smoker_map)
data["region"]=data["region"].map(region_map)

In [ ]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       2  16884.92
1   18    1  33.8         1       0       1   1725.55
2   28    1  33.0         3       0       1   4449.46
3   33    1  22.7         0       0       3  21984.47
4   32    1  28.9         0       0       3   3866.86

In [ ]:
from sklearn.impute import SimpleImputer ## Handling the Missing values
from sklearn.preprocessing import StandardScaler # Handling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # ordinal Encoding

# Piplines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
num_pipeline=Pipeline(

    steps=[

        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
    ]
)

In [ ]:
cat_pipeline=Pipeline(

    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('OrdinalEncoder',OrdinalEncoder(categories=[sex_categories,smoker_categories,region_categories]))
    ]
)

In [ ]:
preprocessor=ColumnTransformer(

    [
        ('num_pipeline',num_pipeline,numirical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [ ]:
## Train Test Split
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [ ]:
preprocessor.fit_transform(X_train)

array([[-1.26120616, -0.76009275, -0.92504639,  0.        ,  1.        ,
         3.        ],
       [-0.97833575,  0.49564145,  2.43745232,  0.        ,  1.        ,
         0.        ],
       [-0.62474772,  2.20800627,  0.75620297,  0.        ,  1.        ,
         0.        ],
       ...,
       [-0.69546533,  0.60979911, -0.92504639,  0.        ,  0.        ,
         1.        ],
       [ 0.78960436,  2.51786276, -0.08442171,  1.        ,  1.        ,
         0.        ],
       [ 1.56749801,  0.85442265, -0.92504639,  0.        ,  0.        ,
         0.        ]])

In [ ]:
preprocessor.transform(X_test)

array([[ 0.78960436,  0.26732614, -0.08442171,  0.        ,  0.        ,
         3.        ],
       [-0.62474772,  0.12055202, -0.08442171,  0.        ,  1.        ,
         1.        ],
       [-0.2711597 , -0.58070215, -0.08442171,  0.        ,  1.        ,
         1.        ],
       ...,
       [-1.40264137, -1.62442927, -0.92504639,  0.        ,  1.        ,
         1.        ],
       [-0.05900689, -1.73858693,  0.75620297,  1.        ,  1.        ,
         3.        ],
       [ 1.21390999,  1.11535443,  0.75620297,  1.        ,  1.        ,
         0.        ]])

In [ ]:
preprocessor.get_feature_names_out()

array(['num_pipeline__age', 'num_pipeline__bmi', 'num_pipeline__children',
       'cat_pipeline__sex', 'cat_pipeline__smoker',
       'cat_pipeline__region'], dtype=object)

In [ ]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [ ]:
X_train

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,-1.261206,-0.760093,-0.925046,0.0,1.0,3.0
1,-0.978336,0.495641,2.437452,0.0,1.0,0.0
2,-0.624748,2.208006,0.756203,0.0,1.0,0.0
3,1.284628,-0.450236,-0.084422,0.0,1.0,0.0
4,-0.766183,-1.086257,1.596828,0.0,0.0,0.0
...,...,...,...,...,...,...
931,-0.271160,0.577183,-0.084422,1.0,1.0,0.0
932,0.153146,-0.385003,-0.084422,1.0,1.0,2.0
933,-0.695465,0.609799,-0.925046,0.0,0.0,1.0
934,0.789604,2.517863,-0.084422,1.0,1.0,0.0
935,1.567498,0.854423,-0.925046,0.0,0.0,0.0

In [ ]:
X_test

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,0.789604,0.267326,-0.084422,0.0,0.0,3.0
1,-0.624748,0.120552,-0.084422,0.0,1.0,1.0
2,-0.271160,-0.580702,-0.084422,0.0,1.0,1.0
3,-0.483313,-2.097368,0.756203,1.0,0.0,2.0
4,0.931040,0.984889,-0.925046,0.0,1.0,1.0
...,...,...,...,...,...,...
397,1.284628,-0.303462,2.437452,1.0,1.0,3.0
398,0.577452,1.343670,0.756203,0.0,0.0,0.0
399,-1.402641,-1.624429,-0.925046,0.0,1.0,1.0
400,-0.059007,-1.738587,0.756203,1.0,1.0,3.0
401,1.213910,1.115354,0.756203,1.0,1.0,0.0

In [ ]:
#This is a linear regression problem

"""linear regression
ridge regression
lasso regression
elastic net"""

'linear regression\nridge regression\nlasso regression\nelastic net'

In [ ]:
# Model Training

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [ ]:
import numpy as np
def evaluate_model(true, predicted):
    mae= mean_absolute_error(true, predicted)
    mse= mean_squared_error(true, predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square= r2_score(true,predicted)
    return mae, rmse, r2_square

In [ ]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [ ]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [ ]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [ ]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [ ]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [ ]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions

    y_pred=model.predict(X_test)

    #this is a validation (test) score

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 5856.215912002978
MAE: 4032.7758261403665
R2 score 76.33640323948327
===================================


Lasso
Model Training Performance
RMSE: 5856.3874672523425
MAE: 4033.0183968796
R2 score 76.33501679001952
===================================


Ridge
Model Training Performance
RMSE: 5859.229566673458
MAE: 4045.6275773328553
R2 score 76.3120420276297
===================================


Elasticnet
Model Training Performance
RMSE: 9487.268438625995
MAE: 7199.25668830046
R2 score 37.894655746178294
===================================